{{#each posts as |data|}}
<div class="card text-center mt-3 mb-3 container">
    <div class="card-body">
        <div class="container d-flex justify-content-between">
            <h5 class="card-title">{{data.title}}</h5>
            <div class="text-muted">
                Posted by {{data.user_id}} on {{dateFormat data.createdAt}}
            </div>
        </div>
        <p class="card-text">{{data.body}}</p>
    </div>
</div>
{{/each}}